$padding: 15px;
$borderRadius: 5px;

$backgroundColorMain: rgb(240, 243, 248);
$backgroundColorTicket: #ffffff;
$shadowColor: #cfcccc;
$backgroundColorButton: #ffa500;
$backgroundHoverButton: #ff9100;
$backgroundListItem: #e6eef7;
$checkboxBorderColor: #1079f0;
